.nav-logo img {
    height: 45px;
    width: 60px;
}
.search-btn{
    background-color: #141471;
    color: #fff;
    border-radius: 25px;
    height: 38px;
    width: 38px;
}
.search-btn:hover{
    color: #ff00bb;
    transition: all .3s ease;
    cursor: pointer;
}
.nav-icons{
    font-size: 18px;
}
.nav-link-active::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color:#151371;
}

@media (max-width: 991px){
    .twitter-icon{
        padding-left: .5rem!important;
    }
    .nav-logo img {
        height: 28px;
        width: 48px;
    }
}