.headerBanner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url("../../../images/header-banner.png");
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
}